.base-container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.signin {
    border: 5px solid red;
    color: black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.register {
    border: 5px solid blue;
    color: black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    clear: both;
}

p {
    font-weight: bolder;
}

.signin input, .register input {
    margin-bottom: 10px;
}